{% load static %}
{% load icon %}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar no-print" style="background-color: #183824;">
    <div class="position-fixed pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'dashboard' %}">
            {% icon 'bar-chart-2' %}
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'student_list' %}">
            {% icon 'file-text' %}
            Student List
          </a>
        </li>
        {% comment %} {% if perms.student_info_sys.can_view_report %} {% endcomment %}
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'register' %}">
            {% icon 'user' %}
            Register User
          </a>
        </li>
        {% comment %} {% endif %} {% endcomment %}
      </ul>
    </div>
  </nav>