{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load icon %}

<div class="print-header ">
    <img src="{% static 'img/logo.webp'%}" alt="logo" style="width:100px; height:100px"/>
    <div>
    <h2>STUDENT INFORMATION</h2>
    <p>Assinman Nursing and Midwifery Training College</p>
    </div>
    <div class="divider"></div>
  </div>
  
{% include 'partials/_messages.html' %}

<form class="row g-3 container-md py-4 my-5 w-75 m-auto text-dark" style="background-color:#e5f4ea;">
{% csrf_token %}
<div class="d-flex justify-content-center align-items-center">
  {% if student.profile_picture %}
      <img src="{{ student.profile_picture.url }}" alt="Profile Picture" class="rounded-2" width="150" height="150">
  {% else %}
      <p>No profile picture available.</p>
  {% endif %}
  </div>
  <div class="col-md-4">
    <label for="first_name" class="form-label">First Name</label>
    <input type="text" class="form-control" id="first_name" name="first_name" value="{{student.first_name}}" readonly>
  </div>

  <div class="col-md-4">
    <label for="middle_name" class="form-label">Middle Name</label>
    <input type="text" class="form-control" id="middle_name" name="middle_name" value="{{student.middle_name}}" readonly>
  </div>

  <div class="col-md-4">
    <label for="last_name" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="last_name" name="last_name" value="{{student.last_name}}" readonly>
  </div>

  <div class="col-md-4">
    <label for="student_index" class="form-label">Index Number</label>
    <input type="text" class="form-control" id="student_index" name="student_index" value="{{student.student_index}}" readonly>
  </div>

  <div class="col-md-4">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" value="{{student.email}}" readonly>
  </div>

  <div class="col-md-4">
    <label for="phone_number" class="form-label">Phone Number</label>
    <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{student.phone_number}}" readonly>
  </div>

    <div class="col-md-4">
    <label for="date_of_birth" class="form-label">Date of Birth</label>
    <input type="text" class="form-control" id="date_of_birth" name="date_of_birth" value="{{ student.date_of_birth|date:'Y-m-d' }}" readonly>
  </div>

  <div class="col-md-4">
    <label for="program" class="form-label">Programe</label>
    <input type="text" class="form-control" id="program" name="program" value="{{student.program}}" readonly>
  </div>

  <div class="col-md-4">
    <label for="admission_year" class="form-label">Admission Year</label>
    <input type="text" class="form-control" id="admission_year" name="admission_year" value="{{student.admission_year}}" readonly>
  </div>

  <div class="col-md-4">
    <label for="address" class="form-label">Address</label>
    <input type="text" class="form-control" id="address" name="address" value="{{student.address}}" readonly>
  </div>

  <div class="col-md-4">
    <label for="father_name" class="form-label">Father's Name</label>
    <input type="text" class="form-control" id="father_name" name="father_name" value="{{student.father_name}}" readonly>
  </div>

    <div class="col-md-4">
    <label for="father_contact" class="form-label">Father's Contact</label>
    <input type="text" class="form-control" id="father_contact" name="father_contact" value="{{student.father_contact}}" readonly>
  </div>

  <div class="col-md-4">
    <label for="mother_name" class="form-label">Mother's Name</label>
    <input type="text" class="form-control" id="mother_name" name="mother_name" value="{{student.mother_name}}" readonly>
  </div>

  <div class="col-md-4">
    <label for="mother_contact" class="form-label">Mother's Contact</label>
    <input type="text" class="form-control" id="mother_contact" name="mother_contact" value="{{student.mother_contact}}" readonly>
  </div>

  <h3 class="pt-2 no-print">Documents</h3>
    {% for document in documents %}
        <div class="pb-2 d-flex justify-content-between">
          <label class="fw-bold fs-3 page-break-before no-print">{{ document.document_type }}:</label>
          <a class="btn btn-danger no-print" href="{% url 'delete_document' document.id%}">Delete Document</a>
        </div>
        <iframe class="no-print" src="{{ document.document_file.url }}" title="{{document.document_type}}" width="100%" height="400px"></iframe>
    {% empty %}
        <p class="no-print">No documents found for this student.</p>
    {% endfor %}

  <div class="col-md-6 mx-auto">
    <a href="{% url 'student_list' %}" class="btn btn-dark no-print">Back</a>
    <button type="button" class="btn btn-primary no-print" onclick="window.print();"> {% icon 'printer' %} Print</button>
    <a href="{% url 'edit' student.id %}" class="btn btn-warning no-print">{% icon 'edit' %} Edit</a>
    <a href="{% url 'delete' student.id %}" class="btn btn-danger no-print">{% icon 'trash-2' %} Delete</a>
  </div>     

</form>

<script>
    function triggerPrint() {
        window.print();
    }
</script>

{% endblock %}